/*Fonts*/
/* figtree-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Figtree";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/figtree-v9-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Figtree";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/figtree-v9-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-700italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Figtree";
    font-style: italic;
    font-weight: 700;
    src: url("./assets/fonts/figtree-v9-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/figtree-v9-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Figtree";
    font-style: italic;
    font-weight: 800;
    src: url("./assets/fonts/figtree-v9-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Global Selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(6, 23, 30, 1);
}
.main{
    flex: 1;
}

/* Header*/
.header_fotogram {
    display: flex;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
}
.logo_fotogram {
    width: 210px;
    height: 40px;
    margin-left: 360px;
    margin-bottom: 20px;
    margin-top: 30px;
}
/* Main*/

.headline_main {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 23, 30, 1);
    margin: 0 auto;
}
h1 {
    color: white;
    font-family: "Figtree";
    font-weight: 800;
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
    width: 100%;
    margin: 30px auto 30px auto;
    line-height: 1.2;
    padding: 0 80px;
    margin-top: 160px;
    margin-bottom: 80px;
}

.gallery_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    align-items: center;
    gap: 20px;                 
    padding: 20px;            
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 80px;    
}


.gallery_image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border-radius: 16px;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        box-shadow 0.3s ease;
}

/*footer*/
footer {
    width: 100%;
    background-color: #09222a;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    margin-top: auto;
    border-top-left-radius: 50% 100px;
    border-top-right-radius: 50% 100px;
}

.footer_inner {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer_top {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer_logo {
    height: 44px;
}

.footer_brand {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    font-family: "Figtree";
    font-weight: 800;
    color: white;
    font-size: 18px;
}

.footer_copy {
    font-size: 14px;
    font-family: 'figtree';
    font-weight: 400;
    opacity: 0.7;
    color: white;
    text-align: center;
}


/* Lightbox */
.lightbox {
    position: fixed;
    inset: 0;
    background-color: #09222a;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.hidden {
    display: none;
}

/* Box */
.lightbox_box {
    position: relative;
    background-color: #09222a;
    padding: 30px;
    border-radius: 12px;
    width: auto;        
    height: auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95vw;
    max-height: 90vh;
    gap: 20px;
    border-radius: 56px, 64px;
}


/* img */
.lightbox_image {
    width: 560px;
    height: 357px;
    object-fit: cover;   
    border-radius: 8px;
    max-width: 90vw;
    max-height: 60vh;
    border-radius: 8px;
}
.image_title {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}


/* Close Button */
.close_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

/* Nav lightbox */
.lightbox_bottom {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09222a;
}

/* arrow */
.nav_btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(85, 56, 56);   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.nav_btn:hover {
    background-color: rgb(85, 56, 56); 
}

.arrow_icon {
    width: 22px;  
    height: 22px;
    background-color: rgb(85, 56, 56); 
}


/* Counter */
.image_counter {
    color: white;
    font-size: 18px;
    opacity: 0.9;
}
@media (min-width:320px) and (max-width: 1200px){
    .logo_fotogram{
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        margin-inline: auto;
    }
} 

@media (max-width: 600px) {
    .logo_fotogram{
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        margin-inline: auto;
    }
    .lightbox {
        position: fixed;
        inset: 0;
        background-color: #09222a;
        justify-content: center;
        align-items: center;
        font-family: 'figtree';
        font-weight: 400;
    }
    .lightbox_box {
        width: 100vw;
        height: 100vh;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
        overflow: hidden;
    }

    .lightbox_image {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        display: block;
        object-position: center;
    }
    .lightbox_bottom{
        width: 100%;
        bottom: 40px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}

